# ==========================================
# MinIO / Data Lake (Acesso Local via Port-Forward ou Host)
# ==========================================
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_ROOT_USER=insira_seu_usuario_aqui
RUSTFS_ROOT_PASSWORD=insira_sua_senha_aqui

# ==========================================
# MLflow Tracking Server
# ==========================================
MLFLOW_TRACKING_URI=http://localhost:5000

# ==========================================
# Prefect Orchestrator
# ==========================================
PREFECT_API_URL=http://localhost:4200/api

# ==========================================
# Banco de Dados (PostgreSQL)
# ==========================================
POSTGRES_USER=insira_o_usuario_do_banco
POSTGRES_PASSWORD=insira_a_senha_do_banco
POSTGRES_DB=nome_do_banco
POSTGRES_HOST=localhost
POSTGRES_PORT=5432